body {
    background-color: #0E0F40;
}

.btn {
    background-color: transparent;
    color: aliceblue;
    border-color: #ccc;
}

#reportrange {
    background-color: transparent; 
    color: aliceblue;
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    width: 100%;
}

.bee {
    padding-top: 20px;
    padding-bottom: 20px;
}