body {
    background-color: aliceblue;
}

#reportrange {
    background: #fff; 
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    width: 100%;
}

.bee {
    padding-top: 20px;
    padding-bottom: 20px;
}